@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 18px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
  /* direction: rtl;
  writing-mode: horizontal-tb;
  text-orientation: mixed; */
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--gray30);
  /* font-family: charter; */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: white;
}

a {
  color: var(--gray30);
}

header {
  font-size: 14px;
  color: var(--gray10);
  /* background: red; */
  /* position: absolute;
  width: 188px;
  top: 64px;
  left: -232px; */
  /* Posicion relative*/
  /* position: relative;
  border: 1px solid red;
  top left bottom right z-index:
  top: 200px; */
  /*Posicion absoluta --para ubicarlo debe esta referente a un posición relative */
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  /* Posición firex */
  /* position: fixed;
  left: 0; */
  /* Posición sticky */
  /* position: sticky;
  top: 0; */
}

header ul {
  list-style-type: none;
  padding-inline-start: 0;
}


header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray30);
}

nav details summary {
  font-weight: bold;
  line-height: 24px;
}

header li {
  margin-bottom: 16px;
}

h1 {
  font-size: 60px;
  margin-top: 64px;
  margin-bottom: 16px;
  font-weight: normal;
}

/* Selector hermano directo */
/* h1 + p {
  margin-bottom: 64px;
} */

hr {
  margin: 64px 0;
}

h2 {
  font-size: 2em;
  margin: 64px 0 40px;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  position: relative;
  /* width: 200px;
  padding: 20px;
  border: 1px solid red;
  box-sizing: border-box; */
  /* position: sticky;
  top: 0;
  background: white; */
}

h4 {
  font-size: 1em;
  font-weight: normal;
  margin-block: 16px;
  text-transform: uppercase;
}

pre {
  background: #FEC62E;
  padding: 40px;
  font-family: 'Roboto';
  line-height: 24px;
  overflow: auto;
}

blockquote {
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;
  line-height: 24px;
  border-left: 4px solid var(--gray30);
  /* border: 1px solid red;
  border-radius: 50px 100px 10px 0; */
}

blockquote span {
  color: var(--gray10);
}

blockquote span::before {
  content: '-';
}

.header {
  /* position: sticky;
  top: 0; */
}

.header-project {
  /* position: relative;
  top: 0; */
}

.header-content {
  /* position: relative;
  top: 224px; */
}
.main {
  /* border: 1px solid red; */
}

.wrapper {
  max-width: 902px;
  margin: auto;
}

.main-content {
  padding-inline: 16px;
  background: white;
}
.debug {
  /* box-shadow: inset 0 0 0 50px red; */
  /* box-shadow: 0 0 0 10px red; */
  outline: 5px solid red;
  /* background: blue; */
  /* border: 10px solid red !important; */
  /* box-sizing: border-box; */
}

.hero {
  background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../images/patterm.png');
  /* background: url('../images/patterm.png'); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-position: left 50px bottom -50px; */
  /* background-size: cover; */
  block-size: 50px;
}

.section-content {
  margin-top: 164px;
}

.section-content:first-of-type {
  margin: 0;
}

.section-content ol li {
  line-height: 24px;
}

.section-content ul li {
  margin-bottom: 16px;
}

.section-content + hr {
  display: none;
}

.section-content img{
  margin-top: 40px;
  display: block;
  max-width: 100%;
}

.section-content {
  counter-reset: titleList;
}
.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 8px;
}

.section-content h3::before {
  content: counter(titleList, decimal) '. ';
}

.section-content h3::after {
  content: '';
  width: 80px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* ::selection {
  background: green;
} */

.slider {
  /* border: 1px solid red; */
}

.slider-container {
  /* border: 1px solid purple; */
  display: block;
  /* block-size: 100px; */
  overflow: auto;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video {
  margin: 0;
  /* border: 1px solid blue; */
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list{
  /* border: 1px solid yellow; */
  text-align: center;
  margin-block-start: 10px;
}
.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: #424242;
  border-radius: 50%;
}

.form input {
  border: 1px solid #616161;
  max-width: 248px;
  box-sizing: border-box;
  border-radius: 90px;
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--white30);
  font-size: 16px;
  display: inline-block;
  margin-block-end: 24px;
  margin-inline-end: 16px;

}

.form input[type="submit"] {
  width: 119px;
  background: #000000;
  color: white;
  border: none;
  margin-block-end: 80px;
}

.form input::-webkit-input-placeholder {
  color: #424242;
}

.form input:focus{
  outline: none;
}

.section-content.news {
  margin-block-start: 40px;
}

.footer {
  background: #212429;
  block-size: 174px;
  color: white;
}

.footer-content {
  text-align: center;
}

.footer img {
  /* border: 1px solid red; */
  block-size: 18px;
  inline-size: 18px;
  margin-inline: 11px;
}

.footer p {
  display: block  ;
  padding-block-start: 48px;
  padding-block-end: 19px;
  margin-block: 0;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px
}

.footer p::before {
  content: '© ';
}


@media screen and (min-width: 1366px) {
  .hero {
    block-size: 350px;
  }

  .header {
    position: sticky;
    top: 0;
  }

  .header-project {
    position: relative;
    top: 0;
  }

  .header-content {
    position: relative;
    top: 224px;
  }


  header {
    position: absolute;
    width: 188px;
    top: 64px;
    left: -232px;
  }

  h1 {
    font-size: 60px;
    margin-block-start: 64px;
  }
}