:root {
  font-size: 18px;
  --gray20: #212121;
  --gray10: #616161;
}

body {
  color: var(--gray30);
}

a {
  color: var(--gray30);
}

header {
  font-size: 14px;
  color: var(--gray10);
}

header a:hover {
  color: var(--gray10);
}

nav details summary {
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 2em;
}