:root {
  font-size: 18px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
  /* direction: rtl;
  writing-mode: horizontal-tb;
  text-orientation: mixed; */
}

body {
  color: var(--gray30);
  /* font-family: charter; */
  font-family: 'Nunito', sans-serif;
  margin: 0;
  /* margin-inline: 100px; */
  /* margin-block: 100px; */
  /* margin-block-start: 80px; */
  /* margin-block-end: 200px; */
}

a {
  color: var(--gray30);
}

.header {
  /* position: sticky;
  inset-block-start: -45px; */
}

.header-project {
  padding-inline: 20px;
}

.header-content {
  padding-inline: 20px;
}

.header-content nav {
  /* padding-inline: 5px; */
  border-inline-start: 4px solid #C4C4C4;
}

.header-content ol {
  padding-inline-start: 20px;
}

header {
  margin-block-start: 20px;
  font-size: 14px;
  color: var(--gray30);
  /* position: absolute; */
  /* top */
  /* inset-block-start: 0; */
  /* bottom: ; */
  /* inset-block-end: ; */
  /* right */
  /* inset-inline-end: ; */
  /* left */
  /* inset-inline-start: -208px; */
  /* inline-size: 188px; */
}

header ul {
  list-style-type: none;
  padding-inline-start: 8px;
}

header ul {
  list-style-type: none;
  padding-inline-start: 0;
}

header li {
  color: var(--gray20);
  margin-block-end: 16px;
}

header a {
  color: var(--gray20);
  text-decoration: none;
}

header a:hover {
  color: var(--gray30);
}

nav details summary {
  font-weight: bold;
  list-style-type: none;
}

h1, h2, h3 {
  /* font-weight: normal; */
}

h1 {
  font-size: 40px;
  margin-block-start: 20px;
  margin-block-end: 16px;
}

h2 {
  font-size: 2em;
  margin-block: 40px;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-block: 16px;
}

h4 {
  font-size: 1em;
  font-weight: normal;
  margin-block: 16px;
  text-transform: uppercase;
}

hr {
  margin-block: 40px;
  border-color: rgba(97, 97, 97, 0.2);;
}
pre {
  background: #E5E5E5;
  padding: 40px;
  overflow: auto;
  border-radius: 8px;
  /* border: 10px solid red;
  border-inline-start: 5px solid white ;
  border-block-end: 20px solid pink;
  border-inline-end: 5px solid green;
  border: 10px solid #5551FF;
  box-shadow: -10px 10px 0 0 #ABAAF6;
  border-radius: 50px; */
}

p {
  color: var(--gray20);
}

.hero {
  /* background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%); */
  /* background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../images/patterm.png'); */
  /* background: url('../images/patterm.png'); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-position: left 50px bottom -50px; */
  /* background-size: cover; */
  /* block-size: 50px; */
  padding-inline: 16px;
}

.section-content img {
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
  /* max-width: 100%; */
}

.section-content {
  counter-reset: titleList;
}
.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList, decimal)'. ';
}

.section-content + hr {
  display: none;
}

/* .section-content h3::after {
  content: '';
  width: 32px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
} */

blockquote {
  font-size: 24px;
  margin-block: 32px;
  margin-inline: 0;
  padding-inline-start: 16px;
  line-height: 24px;
  border-left: 4px solid var(--gray30);
}

blockquote p {
  color: var(--gray30);
}

/* ::selection {
  background: green;
} */

.main hr {
  /* display: none; */
}

.main {
  /* border: 1px solid red; */
}

.wrapper {
  /* border: 1px solid yellow; */
  max-inline-size: 966px;
  margin: auto;
  /* overflow: hidden; */
  /* overflow: auto; */
}

.main-content {
  padding-inline: 16px;
  /* border: 1px solid blue; */
}

.slider {
  /* border: 1px solid red; */
}

.slider-container {
  /* border: 1px solid purple; */
  display: block;
  /* block-size: 100px; */
  overflow: auto;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video {
  margin: 0;
  /* border: 1px solid blue; */
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list{
  /* border: 1px solid yellow; */
  text-align: center;
  margin-block-start: 10px;
}
.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: white;
  border-radius: 50%;
}

.form input {
  border: 1px solid #616161;
  max-width: 248px;
  box-sizing: border-box;
  border-radius: 90px;
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--white30);
  font-size: 16px;
  display: inline-block;
  margin-block-end: 24px;
  margin-inline-end: 16px;

}

.form input[type="submit"] {
  width: 119px;
  background: #000000;
  color: white;
  border: none;
  margin-block-end: 80px;
}

.form input::-webkit-input-placeholder {
  color: var(--gray20);
}

.form input:focus{
  outline: none;
}

.footer {
  background:#212429;
  block-size: 174px;
}

.footer-content {
  text-align: center;
}

.footer img {
  /* border: 1px solid red; */
  block-size: 18px;
  inline-size: 18px;
  margin-inline: 11px;
}

.footer p {
  display: block;
  padding-block-start: 48px;
  padding-block-end: 19px;
  margin-block: 0;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  color: white;
}

.footer p::before {
  content: '© ';
}


@media screen and (min-width: 1366px) {
  .hero {
    /* block-size: 200px; */
  }

  .header {
    /* position: sticky;
    inset-block-start: -45px; */
  }

  .header-project {
    /* position: relative;
    inset-block-start: 65px;
    padding-inline: 0; */
    padding-inline: 0;
  }

  .header-project header {
    /* margin-block-start: 0; */
  }

  .header-content {
    /* position: relative;
    inset-block-start: 284px; */
    padding-inline: 0;
  }

  header {
    /* position: absolute;
    inset-block-start: 0;
    inset-inline-start: -200px;
    inline-size: 188px; */
  }

  h1 {
    font-size: 60px;
    margin-block-start: 80px;
  }
}
